# Dependencies
node_modules/
Frontend/node_modules/
Backend/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Git
.git/
.gitignore

# Logs
logs/
*.log

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docs
README.md
